*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

div{
    height: 80vh;
    width: 80%;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    background-color: crimson;
    border: 5px solid black;
    color: white;
    padding-top: 50px;
}

div p{
    padding-top: 50px;
    text-shadow: 2px 2px black; 
}

div img{
    margin: auto;
    width: 50%;
    box-shadow: 2px 2px 8px 10px white;
}